<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Student</title>
    <!-- Page with form for creating new students to the MongoDB -->
    <style>
        
        body{
            font-family: 'Roboto', sans-serif;
            margin: auto;
        }
       .title{
           font-size: 300%;
           text-align: center;
       }
        .main{
            
            
            border: 2px solid black;
            border-radius: 100px;
            background-color: chartreuse;
            margin: 10%;
            margin: 10% ;
            padding-bottom: 5%;
}
.main input,select{
    display: flex;
    flex-direction: column;
  width: 30%;
}
.main-content{
   
    text-align: justify;
    padding-left: 40%;
}
a{
    text-decoration: none;
    padding-left: 0%;
    background-color: yellow;
    padding: 1% 3% 1% 3%;
    
    border-radius: 20px;
}
a:hover{
    color: blue;
}
.submit{
    padding-left: 0%;
    padding: 1% 3% 1% 3%;
    background-color: yellow;
    font-size: 100%;
    border-radius: 20px;
    border: none
}
.link{
    
    display: flex;
    justify-content: space-around;
}

        
    </style>
</head>
<body>
    <div class="main">
        <h1 class="title">ADD A STUDENT</h1>
        <div class="main-content">

    <form action="/students" method="POST">
    <label for="id">Id</label>
    <input class="id" type="number" name="id" id="id" placeholder="Student id"> </br>
    <label for="name">Name</label>
    <input class="name" type="text" name="name" id="name" placeholder="Student name"></br>
    <label for="surname">Surname</label>
    <input class="surname" type="text" name="surname" id="surname" placeholder="Student surname"></br>
    <label for="age">Type Age</label> 
    <input class="age" type="number" name="age" id="age" placeholder="age"> <br>
    <label for="gender">Gender</label>
    <select class="gender" name="gender" id="gender" placeholder=".."> </br>
        <option value=""></option>
        <option value="female">female</option>  
        <option value="male">male</option>
    </select></br>
    <label for="Field_of_study">Study Field</label>
    <input class="field" type="text" name="Field_of_study" id="Field_of_study" placeholder="Field of Study"></br>
    <label for="study_degree">Degree</label>
    <input class="degree" type="text" name="study_degree" id="study_degree" placeholder="Study Degree"> <br>
    <label for="year_of_study">Year of Study</label>
    <input class="year_of_study" type="number" name="year_of_study" id="year_of_study" placeholder="year of study" >
</div>
<div class="link">
    <button class="submit">Submit</button>
    <a href="/students">CANCEL</a>
    </div>
</form>




</div>

</body>
</html>